<!-- Launches april tag detection -->

<launch>
  <include file="$(find ar_track_alvar)/launch/pr2_indiv_no_kinect.launch">
    <arg name="cam_image_topic" value="/camera/color/image_raw" />
	  <arg name="cam_info_topic" value="/camera/color/camera_info" />
	  <arg name="output_frame" value="/camera_color_optical_frame" />
  </include>
</launch>