<!-- Launch moveit for actual robot -->
<!-- Fork of panda_moveit_config/launch/panda_moveit.launch -->

<launch>
  <arg name="load_gripper" default="true" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="position_joint_trajectory_controller"/>

  <include file="$(find jgioia_panda_projects)/launch/move_group.launch">
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>
</launch>