<?xml version="1.0" encoding="UTF-8"?>
<robot name="table">

  <link name="base_link">
    <visual>
      <geometry>
        <mesh filename="package://jgioia_panda_projects/models/table.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <origin rpy="1.57075 0 0" xyz="0 0 0"/>
    </visual>
  </link>

</robot>
